<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="connection" connectionString="server=10.100.30.174;database=Athena;uid=Athenaconnect2;password=Reset$123;Max Pool Size=800;" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-QM.BackOfficeWeb-20171101040930.mdf;Initial Catalog=aspnet-QM.BackOfficeWeb-20171101040930;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ClientStatementEntities" connectionString="metadata=res://*/BOCusForm.csdl|res://*/BOCusForm.ssdl|res://*/BOCusForm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.30.15;initial catalog=ClientStatement;persist security info=True;user id=sa;password=fbncit$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestMobileEntities" connectionString="metadata=res://*/QMModels.csdl|res://*/QMModels.ssdl|res://*/QMModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.30.15;initial catalog=QuestMobile;user id=sa;password=fbncit$1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IswEndpoint" value="https://sandbox.interswitchng.com/collections/api/v1/gettransaction.json" />
    <add key="productid" value="1076" />
    <add key="mackey" value="D3D1D05AFE42AD50818167EAC73C109168A0F108F32645C8B59E897FA930DA44F9230910DAC9E20641823799A107A02068F7BC0F4CC41D2952E249552255710F" />
    <!--<add key="API_URL" value="https://196.6.186.198/qsb.api/api/" />-->
    <!--<add key="API_URL" value="https://196.6.186.198/qsb.api.secured/api/" />-->
    <!--<add key="API_URL" value="http://10.100.30.15/qsb.api/api/" />-->
    <!--<add key="API_URL" value="https://quartz.fbnquest.com/qsb.api.secured/api/" />-->
    <add key="API_URL" value="http://10.100.30.15/qsb.api/api/" />
    <!--<add key="API_URL" value="http://localhost:7898/api/" />-->
    <!--LOCALHOST START-->
    <add key="TOKEN_API_SERVICEID" value="0alq3gehbr97dMd" />
    <add key="TOKEN_API_SERVICEKEY" value="tfbGskaEylH5uzu" />
    <!--LOCALHOST END-->
    <!--LIVE START-->
    <!--<add key="TOKEN_API_SERVICEID" value="S03KATvU8bCSWfC" />
    <add key="TOKEN_API_SERVICEKEY" value="LBjWrlMfkhFKLK9" />-->
    <!--LIVE END-->
    <!--<add key="TOKEN_API_BASEURL" value="https://quartz.fbnquest.com/qsb.api/api/" />-->
    <add key="TOKEN_API_BASEURL" value="https://quartz.fbnquest.com/qsb.api.secured/api/" />
    <add key="defaultGridSize" value="10" />
    <add key="LogLocation" value="C:/Logs/QuestMobileBO" />
    <add key="Reports" value="C:\QMB\Reports" />
    <add key="CNWebsite" value="//10.100.30.71/img/" />
    <add key="NetworkPDFPath" value="//10.100.30.15/ContractNotes/" />
    <add key="LogFile" value="//10.100.30.15/ContractNotes/Logs/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <allow users="?" />
    </authorization>
    <authentication />
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" maxUrlLength="10999" maxQueryStringLength="2097151" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: FA0087A6-54B4-48D1-84B5-BA1EC5F67248-->